body {
    background-color: rgba(0, 0, 0, 0.1);
}

#soccerImage {
    display: none;
}
#stadiumImage{
    display: none;
}

input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px; 
    margin-top: 15px;
}

.popularLeagues {
    margin-top: 35px;
}
.welcomeText{
    font-size: 40px !important;
}
.directionText{
    font-size: 25px !important;
}
#registerSection{
    margin: 25% auto !important;
}

@media screen and (max-width: 440px) {
    .textContainer{
        display: flex;
        align-items: start;
    }
    .welcomeText{
        text-align: left;
        font-size: 20px !important;
        margin-top: 50px;
    }
    .directionText{
        text-align: left;
        font-size: 15px !important;
        padding-top: 15px !important;
        padding-left:0px !important;
        margin-top: -19px !important;
        margin-bottom: 0px;
    }
    .freeTipsBtn{
        margin-top: 0px;
    }
}

@media screen and (max-width:575px){
    .textContainer{
        display: flex !important;
        align-items: center !important;
    }
}
@media screen and (min-width: 768px) {
    .homeIcon{
        text-align: left;
    }
    #adminControls {
        margin-top: 0px;
    }

    .popularLeagues {
        margin-top: 18px;
    }
    .welcomeText{
        font-size: 50px !important;
    }
    .directionText{
        font-size: 30px !important;
    }
    .formIcons{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .homeNav{
        margin-right: 30px !important;
    }
   
}
@media screen and (max-width: 768px) {
    #adminControls {
        margin-top: 15px;
    }
    #navItems{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
}
@media screen and (min-width: 1200px){
    #soccerImage {
        display: table;
    }
    .welcomeText{
        font-size: 70px !important;
    }
    .directionText{
        font-size: 40px !important;
    }
    #stadiumImage{
        display: table;
    }
    .formContainer{
        box-shadow: none !important;
    }
    .wholeImageAndFormContainer{
        background-color:white;
        border-radius: 25px !important;
    }
}
@media screen and (max-width:1400px){
    .formDiv{
        margin-top: 20vh;
    }
}

a:hover{
    font-size: large !important;
}
.navBtn:focus{
    background-color: gray !important;
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}
span:hover {
    text-decoration: none;
    cursor: default;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}